sudo: required
servies:
  - docker

before_install:
  - docker build -t tt/docker-react -f Dockerfile.dev .

script:
  - docker run tt/docker-react npm run test -- --coverage

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master